{% extends 'selectCar/app-base.html' %}

{% load static %}

{% block title %} Car Page {% endblock %}

{% block body %}

<section class="vehicles" id="vehicles" style="margin-top: 75px;">

    <h1 class="heading"> Dashboard <span></span> </h1>

    <form action="/car" method="GET" class="mb-2">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Please Select the option</label>
            </div>
            <select name="Brand" class="custom-select  custom-select-lg" id="inputGroupSelect01"
                aria-label="Example select with button addon">
                <option> Choose...</option>
                <option value="Ford">Ford</option>
                <option value="Tata">Tata</option>
                <option value="Skoda">Skoda</option>
            </select>
            <input type="text" aria-label="First name" placeholder="Year" name="year" class="form-control">
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Go">
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="mt-4 rounded mx-auto d-block" src="{% static 'image/car-1.png' %}" width="50%"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{car.car_model}} </h5>
                    <h5 class="card-title"> {{car.car_price}} </h5>
                    <h6 class="card-title"> {{car.car_year}} </h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Visit official website</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <canvas id="myChart" height="100px"></canvas>
                </div>
            </div>
        </div>
    </div>

</section>

<script>

    const data = {
        labels:  {{ dataX | safe}},
        datasets: [{
            type: 'bar',
            label: 'Bar Dataset',
            data: {{ dataY | safe}},
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)'
                ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 205, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                ]
        }, {
            type: 'line',
            label: 'Line Dataset',
            data: {{ dataY | safe}},
            fill: false,
            borderColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 205, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(153, 102, 255, 0.8)',
            ]
        }]
    };

    const config = {
        type: 'scatter',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
{% endblock %}